* {padding: 0; margin: 0; font-family: 'Franklin Gothic Medium', 
        'Arial Narrow', Arial, sans-serif;}

header {background-color: royalblue; padding: 20px 10px 10px 10px; 
        color: white; font-size: 30px; font-weight: bold;
        text-align: center; line-height: 1;}

label {font-size: 16px; font-weight: bold; color: white; padding-left: 10px; 
        line-height: 1;}

main h1 {font-size: 26px; color: yellow; padding-left: 5px; 
        text-decoration: underline; padding-top: 10px; padding-bottom: 10px;}

body {background-color: #211d3a}

main {padding: 1cm; margin: 1cm;}

input {border: 2px solid grey; border-radius: 15px; font-size: 18px;
        font-weight: bold; padding: 5px 10px; outline: none; 
        background-color: white;}

footer {background-color: royalblue; padding: 10px; position: relative;
        bottom: 0; text-align: center; font-size: 15px; width: 100%; height: 30px;}


